/* basic css */

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

/* Two-column layout */

.left-column-big {
  width: 50%;
  float: left;
}

.right-column-big {
  width: 50%;
  float: right;
}

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

/* index */

.index-slide {
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  padding-bottom: 10px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

.middle-vertical {
  vertical-align: middle;
}

.small-margin {
  margin: 10px;
}

.remark-slide code.shell {
    text-align: left;
}

#diagram1 { height: 175px;}
#diagram1 svg {
  max-height: 175px;
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1,
.inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}